.title {
    text-align: center;
}
.desc {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.profile-pic {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.our-carousel {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.annica-pic {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.annica-pic-2 {
    -webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.bts-pic, .bts-vid {
    width: 50%;
    margin: 10% 25%;
}